:root {
    --white-color: white;
    --black-signature-color: #323232;
    --red-signature-color: #ff0000;
}

.searchBar {
    display: flex;
    width: 100%;
    background-color: var(--black-signature-color);
}

.youtubeIcon {
    color: var(--red-signature-color);
}

.logoTitle {
    color: var(--white-color);
}
.searchBar_btn {
    background-color: #5c5b5b;
    border: none;
    color: #e6e0e0;
}
